$text: #bdb1b1;
$background: #2b303b;
$selection-text-and-header-background: #1c212b;
$selection-background-and-link-hover: #a3be8c;
$heading: #2f5ac7;
$sitetitle: #583d40;
$border: #425050;

$contessa: #bf6165;
$comet: #4f586b;
$river-bed: #424a5a;

$silver: #ccc;
